/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap
 */

.btn-oldstyle {
  background-color: #08c;
  border-color: #08c;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #007ab8;
  background-image: -moz-linear-gradient(top,#08c,#006699);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#08c),to(#006699));
  background-image: -webkit-linear-gradient(top,#08c,#006699);
  background-image: -o-linear-gradient(top,#08c,#006699);
  background-image: linear-gradient(to bottom,#08c,#006699);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff006599', GradientType=0);
  border-color: #006699 #006699 #00334d;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}
.btn-oldstyle:hover,
.btn-oldstyle:focus {
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position .1s linear;
  -moz-transition: background-position .1s linear;
  -o-transition: background-position .1s linear;
  transition: background-position .1s linear;
}
.btn-oldstyle:hover,
.btn-oldstyle:focus {
  background-color: #006699;
}
.btn-oldstyle:active,
.btn-oldstyle.active,
.btn-oldstyle.active:hover {
  background-color: #0077b3;
  border-color: #006699;
}
.btn-oldstyle.disabled:hover,
.btn-oldstyle.disabled:focus,
.btn-oldstyle.disabled:active,
.btn-oldstyle.disabled.active,
.btn-oldstyle[disabled] .btn-oldstyle:hover,
.btn-oldstyle[disabled] .btn-oldstyle:focus,
.btn-oldstyle[disabled] .btn-oldstyle:active,
.btn-oldstyle[disabled] .btn-oldstyle.active {
  background-color: #08c;
  border-color: #08c;
}




/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

body {
  padding-top: 85px;
}

.textinjumbo {
  background-color: transparent;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1),  rgba(0, 0, 0, 1));
  position: static;
  max-width: 550px;
  padding: 0 25px;
  margin-top: 70px;
  }           